<footer class="footer">
    <a class="link" href="" style="text-decoration: none;">
        <img src="assets/anizod.svg">
        <p>anizod</p>
    </a>
    <a class="link" href="https://github.com/xzodia1000/anizod" target="_blank" style="text-decoration: none;">
        <img src="assets/github.png">
        <p>GitHub</p>
    </a>
    <a class="link" href="https://github.com/AniList/ApiV2-GraphQL-Docs" target="_blank" style="text-decoration: none;">
        <img src="assets/anilist.png">
        <p>Anilist API</p>
    </a>
</footer>