@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%);

  margin-top: 10px;

  animation-name: FadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  -webkit-transition: background-color 10000ms linear;
  -moz-transition: background-color 10000ms linear;
  -o-transition: background-color 10000ms linear;
  -ms-transition: background-color 10000ms linear;
  transition: background-color 10000ms linear;
}
