.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spinner {
  width: 3rem;
  height: 3rem;
  color: #b99fe8 !important;
}

.content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.content__title {
  margin-bottom: 50px;
  text-align: center;

  &--first {
    font-size: 60px;
    color: #ebebeb;
  }

  &--second {
    font-size: 60px;
    color: #b99fe8;
  }
}

.content__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__list--element {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  background-color: #141414;
  border-color: #141414;
}

.content__list--element:hover {
  .name {
    color: #b99fe8;
  }
}

.name {
  color: #ebebeb;
  margin-top: 5px;
  max-height: 50px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cover {
  width: 200px;
  height: 300px;
  border-radius: 5px;
}

.spinner_end {
  width: 2rem;
  height: 2rem;
  color: #b99fe8 !important;
  margin-top: 5px;
  margin-bottom: 20px;

}

@media only screen and (max-width: 600px) {
  .content__title {
    margin-bottom: 20px;

    &--first {
      font-size: 40px;
      color: #ebebeb;
    }

    &--second {
      font-size: 40px;
      color: #b99fe8;
    }
  }

  .content__list--element {
    width: 100px;
  }

  .cover {
    width: 100px;
    height: 150px;
  }
}