<div class="container-fluid home">
  <div class="logo">
    <img src="assets/anizod.svg" alt="logo" />
  </div>

  <div class="search">
    <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
    <input id="search-bar" type="text" [formControl]="user_search" />
  </div>

  <div *ngIf="loading" class="search-results">
    <li *ngFor="let element of response.data?.anime?.results">
      <a routerLink="/anime/{{ element.id }}" style="text-decoration: none">
        <div class="search-content">
          <img [src]="element.coverImage.medium" id="cover" />
          <p id="name">
            {{
              element.title.english != null
                ? element.title.english
                : element.title.romaji
            }}
          </p>
        </div>
      </a>
    </li>
  </div>
</div>
